body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.search-container label {
  margin-right: 8px;
}

.search-container img {
  width: 20px;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  background: url('./images/hero.jpg') center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-content h1 {
  font-size: 3em;
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.mission,
.values,
.team {
  background: #f9f9f9;
  margin-bottom: 20px;
}

.values-cards,
.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: calc(33.333% - 40px);
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}

footer p a {
  text-decoration: none;
  font-size: 20px;
  color: white;

}