* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
background-color: purple;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: white;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  height: 100vh;
  margin: 0;
line-height: 1.6;
}
header {
font-family:'Times New Roman', Times, serif;
font-size:1em;
  background-color: Orange;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="search"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: purple;
}


footer {
  background-color: purple;
  color: #fff;
  padding: 1em;
  text-align: center;
}

